* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: "PT Sans Caption", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    color: #352e28;
}

*::selection {
    background-color: #FEC260;
    color: #352e28;
}

section {
    min-height: 100vh;
    background-color: #f7ecde;

}

h1 {
    position: relative;
    font-family: "Pacifico", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    color: #352e28;
    isolation: isolate;

    &:hover::before {
        height: 50%;

    }
}

section h1::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    background-color: #fec260;
    transition: height 0.35s;
    z-index: -1;


}

div.bookmark-body {
    border-bottom: dotted black 2px;
    border-top: dotted black 2px;



}

label {
    font-weight: 600 !important;
}

input.form-control:focus {
    border-color: #D99C39;
    box-shadow: 0 0 0 .25rem rgba(250, 223, 180, 1)
}

.bookmark-body h2 {
    font-size: 25px;
    font-family: "Righteous", cursive;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #3ca55c, #b5ac49);

}

.bookmark-body .btn {
    color: #fff;
    background-color: #d1512d;
    border-color: #d1512d;
    border-radius: 6px;

    &:focus {
        background-color: #fff;
        color: black !important;
        border-color: black !important;
        box-shadow: none;
    }

    &.btn:hover {
        color: #eee;

        background-color: #bb4120;
        border-color: #a03315;
    }
}





th {
    font-weight: 700;
    border-color: #dee2e6 !important;

}

.btn-visit {
    background-color: #9eb23b;

    &:hover {
        background-color: #8A9E23;

    }

    &:focus {
        background-color: #fff;
        color: black !important;
        border-color: black !important;

    }
}

button.delete {
    background-color: #eb1d36;

    &:hover {
        background-color: #ba081d;

    }

    &:focus {
        background-color: #fff;
        color: black !important;
        border-color: black !important;

    }
}

.circles span {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #FEBE2E;

}

.circles span:first-child {
    display: block;
    background-color: #F15F5D;
}

.circles span:last-child {
    display: block;
    background-color: #4DB748;
}

.validation i {
    color: rgb(187, 65, 32);
}

#closeBtn {
    background-color: white;
    color: black
}

#closeBtn:focus {
    box-shadow: none;
}

.alert-box {
    background-color: #0007;
}

.alert-items {
    width: 500px;
    z-index: 3;

    p {
        font-family: "Bree Serif", serif;
        font-weight: 400;
        font-style: normal;
        font-size: 21px;
        line-height: 27px;
        width: 430px
    }

    li {
        font-size: 18px;
        line-height: 27px;
        font-family: 300;


    }

    .validation {
        &>:last-child {
            padding-top: 10px;

        }

    }
}